.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px;

  a {
    text-decoration: none;
  }
  @media (max-width: 1200px) { // todo завязать к ширине карты
    & {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  }
  @media (max-width: 800px) {
    & {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
