$commandBarWidth: 280px;

.flex-example-simple {
  width: calc(100% - #{$commandBarWidth});
}
.flex-container {
  display: flex;
  justify-content: start;
  column-gap: 50px;
  row-gap: 20px;



  background-color: rgba(27, 78, 127, 0.6);
  overflow: auto;


  &_direction-column {
    flex-direction: column;
  }
  &_wrap-mode-wrapped {
    flex-wrap: wrap;
  }

  .flex-container_item {
    background-color: #04AA6D;
  }
}


.commands-bar {
  position: fixed; /* Фиксированное позиционирование [[3]] */
  top: 0;
  right: 0; /* Позиционируем справа (можно изменить на left: 0) */
  width: $commandBarWidth;
  height: 100vh; /* Высота экрана */
  overflow: auto; /* Прокрутка при необходимости */
  padding: 20px; /* Отступы (опционально) */
  background-color: #333; /* Цвет для визуализации [[3]] */

  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
}





