
.flex-example-simple {
  .resize-panel {
    height: calc(100vh - 60px - 12px);
  }
  .flex-container {
    background-color: rgba(27, 78, 127, 0.6);
    overflow: auto;
    .flex-container_item {
      background-color: #04AA6D;
    }
  }
}



.commands-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;

  background-color: #333;
}





