
.flex-example-simple {
  height: 100%;
  flex: 1 1 500px;
  .resize-panel {
    height: 100%;
  }
  .flex-container {
    background-color: rgba(27, 78, 127, 0.6);
    overflow: auto;
    //align-items: flex-start;
    .flex-container_item {
      background-color: #04AA6D;
    }
  }
}



.commands-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;

  background-color: #333;
  .flex-options-box {
    color: #999999;
  }
}





