.card {
  height: max-content;
  width: 400px; // todo передавать через компоненту ( подумать о styledComponents )
  overflow: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .card__title {
    color: #04AA6D;
  }
  .card__description {
    vertical-align: middle;
    text-align: center;
    font-style: italic;
    margin: 0;
    cursor: auto;
  }
}
