@import "../../mixins/scrollbar";

.table-container {
  overflow: auto;

  @include custom-scrollbar();

  .table-data-component {
    width: 100%;
    table-layout: fixed; // Обязательно!
    border-collapse: separate;
    border-spacing: 0 5px;
    tr {
      border: none;
    }
    td, th {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    th {
      text-align: left;
      font-family: Roboto;
      font-weight: 700;
      font-size: 11px;
      line-height: 12.89px;
      color: #999999;
      border: none;
      padding: 15px;
      box-shadow: 4px 5px 5px -7px;
    }
    td {
      height: 70px;
      border: none;

      background-color: #f1f1f1;
      background-color: white;
    }

  }
}



//
//.name {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  .name__color {
//    height: 70px;
//    background-color: #04aa6d;
//    width: 4px;
//    border-top-left-radius: 10px;
//    border-bottom-left-radius: 10px;
//  }
//  .name__text {
//    flex: 1;
//  }
//
//}
