@import "../../mixins/scrollbar";

.table-container {
  @include custom-scrollbar();
  border-collapse: collapse;
  height: 300px;
  overflow-y: auto;
  overflow-x: auto;

  &__table {
    thead {
      position: sticky;
      z-index: 2;
      top: 0;
      th {
        border: 1px solid #ddd;
        background-color: #04AA6D;
        padding: 10px 5px;
        text-align: left;
        color: white;
      }
    }
    tbody {
      tr:hover { background-color: #ddd; }
      td {
        padding: 10px;
        text-align: center;
        &:hover { background-color: red; }
        cursor: pointer;
      }
    }

  }
}