@import "../../mixins/scrollbar";

$footerMinHeight: 40px;

.table-component {
  height: 500px;
  .table-container {
    @include custom-scrollbar();
    height: calc(100% - #{$footerMinHeight});
    scroll-margin-bottom: 20px;
    overflow-x: auto;
    overflow-y: auto;
    &__table {
      border-collapse: collapse;
      thead {
        position: sticky;
        z-index: 2;
        top: 0;
        & th {
          border: 1px solid #ddd;
          background-color: #04AA6D;
          padding: 10px 5px;
          text-align: center;
          color: white;
        }
      }
      tbody {
        tr:hover { background-color: #ddd; }
        & td {
          padding: 10px;
          &:hover { background-color: red; }
          cursor: pointer;
        }
      }

    }
  }

  .navigation-container {
    min-height: $footerMinHeight;
    background-color: #04AA6D;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}