.g-selectbox {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-weight: 600;
  color: #000;
  gap: 4px;

  &__label {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 14px;
    user-select: none;
  }

  &__select {
    background: #fff;
    border: 2px solid #000;
    padding: 8px 20px;
    color: #000;
    cursor: pointer;
    box-shadow: 6px 6px 0 0 #000;
    transition: all 0.2s ease;
    font-weight: 600;
    text-transform: uppercase;

    &:hover {
      transform: translate(2px, 2px);
      box-shadow: 4px 4px 0 0 #000;
    }

    &:active {
      transform: translate(6px, 6px);
      box-shadow: 0 0 0 0 #000;
    }
  }
}
